.principal-container {
    background-image: url('../../../assets/images/bg_home.jpg');
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 100px;
}

/* Responsive design */
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .principal-container {
        background-image: url('../../../assets/images/bg_home_2.jpg');
        display: block;
    }
    
    h1 {
        text-align: center;
        padding: 150px 0px 0px 0px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* For tablets: */

    .principal-container {
        background-image: url('../../../assets/images/bg_home_2.jpg');
        display: block;
    }
    
    h1 {
        text-align: center;
        padding: 150px 0px 0px 0px;
    }
}