<div class="flotante" >
  <mat-grid-list cols="5" rowHeight="80px">
      <mat-grid-tile [colspan]="2" [rowspan]="1" >
        <!-- Lenguage -->
        <button 
          mat-button 
          (click)="changeLanguage()" 
          class="btnLenguage" >
            <strong class="colorTextLenguage" > 
              {{ activeLenguage }} / 
            </strong> 
            {{ inactiveLenguage }}
        </button>

      </mat-grid-tile>

      <mat-grid-tile [colspan]="3" [rowspan]="1" >
          <ul>
              <li routerLinkActive="active" >
                  <a [routerLink]="['home']">
                      {{ 'menu.home' | translate }}
                  </a>
              </li>

              <li routerLinkActive="active" >
                  <a [routerLink]="['login']">
                      {{ 'menu.login' | translate }}
                  </a>
              </li>
          </ul>
      </mat-grid-tile>
  </mat-grid-list>
</div>

<div>
  <router-outlet></router-outlet>
</div>